trigger:
- master
- rel/*

pr:
- master
- rel/*

pool:
  vmImage: 'VS2017-Win2016'

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: MSBuild@1
  displayName: Build Solution
  inputs:
    solution: src/*.sln
    msbuildArguments: /restore
    configuration: $(buildConfiguration)
    maximumCpuCount: true

- task: MSBuild@1
  displayName: Pack Solution
  inputs:
    solution: src/**/*.csproj
    msbuildArguments: /t:Pack /p:PackageOutputPath=$(Build.ArtifactStagingDirectory)
    configuration: $(buildConfiguration)
    maximumCpuCount: true

- task: VSTest@2
  inputs:
    testAssemblyVer2: |
     Test\**\$(BuildConfiguration)\*test*.dll
     !**\obj\**
    configuration: $(buildConfiguration)

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)
    artifactType: container
    artifactName: artifacts